<section class="ready-to-start">
    <div class="app-container">
        <h2 class="h2">Prêt à démarrer ?</h2>
        <a href="https://www.kartable.fr/premium?source=Help%20Center%20(web)" class="button button--big">S'abonner</a>
        <p class="ready-to-start__text"> Vous avez besoin de plus de renseignements avant d'abonner votre enfant&nbsp;? Nos conseillers pédagogiques sont là pour vous aider. Vous pouvez les contacter par téléphone du lundi au vendredi de 9h à 17h. </p>
        <article class="phone-number">
            <i class="icon icon-phone"></i>
            <p class="phone-number__number">
                09 73 28 96 71
                <span class="phone-number__mention">(Prix d'un appel local)</span>
            </p>
        </article>
    </div>
</section>

<footer class="footer">
    <div class="footer-container">

        <h2 class="h2">Pour réviser partout</h2>

        <section class="app-rating">
            <i class="icon-star icon-star--is-filled"></i>
            <i class="icon-star icon-star--is-filled"></i>
            <i class="icon-star icon-star--is-filled"></i>
            <i class="icon-star icon-star--is-filled"></i>
            <i class="icon-star"></i>
        </section>
        <p class="app-rating__note">
            3.9 / 5 sur 4007 avis
        </p>

        <section class="download-app__actions">
            <a href="https://appsto.re/fr/QkcnX.i" target="_blank">
                <img alt="app ios" src="{{asset 'download-ios.png'}}">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.kartable.android" target="_blank">
                <img alt="app android" src="{{asset 'download-android.png'}}">
            </a>
        </section>

        <section class="links-list">
            <ul class="links-list__container">
                <li class="links-list__item">
                    <a class="link" href="https://kartable.fr/qui-sommes-nous">À propos</a>
                </li>
                <li class="links-list__item">
                    <a class="link" href="https://support.kartable.fr/hc/fr/requests/new?">Contact</a>
                </li>
                <li class="links-list__item">
                    <a class="link" href="https://kartable.fr/parent">Parent</a>
                </li>
                <li class="links-list__item">
                    <a class="link" href="https://kartable.fr/enseignant">Enseignant</a>
                </li>
                <li class="links-list__item">
                    <a href="https://kartable.fr/premium?source=Footer%20(web)">Premium</a>
                </li>
                <li class="links-list__item">
                    <a class="link" href="https://kartable.fr/ellipses">Livres</a>
                </li>
                <li class="links-list__item">
                    <a class="link" href="https://support.kartable.fr">Aide</a>
                </li>
                <li class="links-list__item">
                    <a class="link" href="https://kartable.fr/mentions-legales">Mentions légales</a>
                </li>
                <li class="links-list__item">
                    <a class="link" href="https://kartable.fr/recrutement">Recrutement</a>
                </li>
            </ul>
        </section>

        <section class="footer__bottom">
            <p class="footer__copyright">© Kartable 2018</p>
            <section class="footer__social-links">
                 <a class="footer__social-link" href="https://www.instagram.com/kartable/" target="_blank">
                    <i class="icon icon-instagram"></i>
                </a>
                <a class="footer__social-link" href="https://twitter.com/kartable" target="_blank">
                    <i class="icon icon-twitter"></i>
                </a>
                <a class="footer__social-link" href="https://fr-fr.facebook.com/kartable" target="_blank">
                    <i class="icon icon-facebook"></i>
                </a>
            </section>
        </section>

    </div>
</footer>
