<header class="header">
  <div class="header-container">
    {{#link 'help_center'}}
      <img src="{{logo_url}}" alt="{{t 'logo'}}">
      <span class="logo-help">Aide</span>
    {{/link}}

    <a class='close-link' href="https://kartable.fr"><i class="icon icon-close"></i></a>
  </div>
</header>