<div class="app-container">

   <h1 class="h1">{{'Une question ?'}}{{#if parent}}
     <span class="follow-up-hint">
        {{follow_up}}
      </span>
    {{/if}}</h1>

    <div class="form">
      {{request_form}}
    </div>

</div>

{{chat}}
